#img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#kartu {
    height: 100px;
    width: 100%;
}

#paragraf {
    width: 100%;
    /* max-width: 200px; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#konten {
    height: 120px;
    width: 95%;
    /* margin: 0; */
}